<!DOCTYPE html>
<html lang="en">
        <!-- Head partial -->
  <%- include('./partials/head', { page: "Homepage" } ) %>

<body class="has-navbar-fixed-top">
          <!-- Navbar Partial -->
          <%- include('./partials/nav', { routes: [
            {
              href: "/new",
              title: "Create Post",
            },
          
          {
              href: "/logout",
              title: "Logout",
          }, ]}) %>

          <section class="hero is-small has-background-grey-light">
            <div class="hero-body">
              <p class="title">ALL POSTS</p>
            </div>
          </section>
      
          <main class="container hero is-max-widescreen is-link">
            
              <!-- Tell user there are no posts available -->
              <% if (posts.length === 0) { %>
            <div class="notification is-warning">
                  No posts available.
            </div>
              <% } %>
              <div class="post-container">
      
              <!-- Loop through all posts -->
              <% for(let i = 0; i < posts.length; i++){ %> <% const post =
              posts[i] %>
      
              
             
                  <div class="box" id="created-post">
                    <div class="content">
                      <h3>
                        <a href="/<%= post.id %>"><%= post.title %> </a>
                      </h3>
                      <p>
                        <%= post.content %>
                      </p>
                    </div>
                    <footer class="card-footer">
                      <a href="#" class="card-footer-item">Edit</a>
                      <a href="#" class="card-footer-item">Comment</a>
                      <a href="#" class="card-footer-item">Delete</a>
                    </footer>
                  </div>
                  
            
              
              <% } %>
              </div>
            
          </main>
</body>
</html>