<!DOCTYPE html>
<html lang="en">
        <!-- Head partial -->
  <%- include('./partials/head', { page: "Homepage" } ) %>

<body class="has-navbar-fixed-top">
          <!-- Navbar Partial -->
          <%- include('./partials/nav', { routes } ) %>

          <section class="hero is-medium has-background-light">
            <div class="hero-body">
              <p class="title">All Posts</p>
            </div>
          </section>
      
          <main class="container is-max-widescreen">
            <div class="columns is-multiline p-5">
              <!-- Tell user there are no products available -->
              <% if (posts.length === 0) { %>
                <div class="notification is-warning">
                  No posts available.
                </div>
              <% } %>
      
              <!-- Loop through all posts -->
              <% for(let i = 0; i < posts.length; i++){ %> <% const post =
              posts[i] %>
      
              <div class="column">
                <article class="card">
                  <div class="card-content">
                    <div class="content">
                      <h3>
                        <a href="/<%= post.id %>"><%= post.title %> </a>
                      </h3>
                      <p>
                        <%= post.content %>
                      </p>
                    </div>
                  </div>
                </article>
              </div>
              <% } %>
            </div>
          </main>
</body>
</html>