<!DOCTYPE html>
<html lang="en">
        <!-- Head partial -->
  <%- include('../partials/head', { page: "Show" } ) %>

<body class="has-navbar-fixed-top">
          <!-- Navbar Partial -->
          <%- include('../partials/nav', { routes: [
            { 
              href: "/",
              title: "Home",
            },
            {
              href: "/",
              title: "Logout",
            },] } ) %>
  <section class="hero is-small has-background is-link">
      <div id="hero-container" class="hero-body">
         <div id="title-container">
            <p class="title">POST SHOW PAGE</p>
         </div>
      </div>
  </section>
  <main>
    <div class="post-container">
      <div class="box" id="created-post">
        <div class="main-content-container">
          <div id="title-user-display">
            <h3 class="post-title">
              <a href="/<%= post.id %>"> <%= post.title %> </a>
            </h3>
          </div>
          <p id="author">by: <%= post.user.username %></p>
        </br>
          <p id="post-content"><%= post.content %></p>
       
            
          <div id="date-holder">
            <p id="created-at"><%= post.createdAt %></p>
          </div>
        <hr>
      
       <!----   <button class="like">Like</button> -->
          <button class="add-comment-button is-link">Add Comment</button>
          <div class="comment-box">
            
                <p class="control">
                  <form id="comment-text-box" action="/comments/<%= post.id %>" method="POST">
                    <textarea 
                      rows="3"
                      class="input"
                      placeholder="Add comment..."
                      name="content"
                      required></textarea>
                    <input  class="button is-info" type="submit" placeholder="leave comment...">
                  </form>
                </p>
        
          </div>

          <% if(typeof user != "undefined"){ %>
          <% if(user.id == post.user){ %>
          <div id="edit-button-box">
            <div id="edit-button" class="control">
              <a href="/<%= post.id %>/edit" class="button is-info">Edit Post</a>
            </div>
            <div id="delete-button">
            <p class="control">
              <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
                <input id="delete-button" class="button is-danger" type="submit" value="Delete Post">
              </form>
            </p>
            </div>
          </div>
          <% } %>
          <% } %>
          
        
    </br>
          <div class="comments-container">
            <% for(let i = comments.length - 1; i >=0; i-- ){ %> 
              <% const comment = comments[i]; %>
           
              
                <p class="comment-username">user: <%= comment.user.username %></p>
                  <p><%= comment.content %></p> 
                  <div id="date-holder">
                    <p id="created-at"><%= comment.createdAt %></p>
                  </div>
                </br>

                
            <% } %>


          </div>
    </div>
  </main>
    
</body>
</html>